{% import "./macros.html" as macros %}
{% extends "layout.html" %}

{% block article_body %}

{% markdown %}

<div class="image-set">
	<!-- Small+ image -->
	<div data-o-grid-colspan="hide Sfull-width" style="padding:0">
		<figure class="graphic graphic-b-1 graphic-pad-1" style="margin:0;margin-bottom:10px">
		  <img alt="FT Catalonia poll tracker" src="http://ft-ig-content-prod.s3-website-eu-west-1.amazonaws.com/v2/ft-interactive/catalonia-polltracker/master/catalonia-latest-medium.svg"></img>
		</figure>
	</div>
	<!-- xSmall image -->
	<div data-o-grid-colspan="full-width Shide">
		<figure class="graphic graphic-b-1 graphic-pad-1" style="margin-left:0">
		  <img alt="FT Catalonia poll tracker" src="http://ft-ig-content-prod.s3-website-eu-west-1.amazonaws.com/v2/ft-interactive/catalonia-polltracker/master/catalonia-latest-small.svg"></img>
		</figure>
	</div>
</div>

Catalans will elect a new regional parliament on December 21. The snap election was called by Spain’s central government, which [suspended Catalonia’s autonomy](https://www.ft.com/content/01355070-bae7-11e7-8c12-5661783e5589) in October after the region’s parliament voted to declare an independent republic.

<div class="image-set">
	<!-- Small+ image -->
	<div data-o-grid-colspan="hide Sfull-width" style="padding:0">
		<figure class="graphic graphic-b-1 graphic-pad-1" style="margin-left:0">
  		<img alt="Catalan elections: the composition of the outgoing parliament"
			src="catalonia-hemicycle--web-m.png" style="width:100%">
			</img>
		</figure>
	</div>
	<!-- xSmall image -->
	<div data-o-grid-colspan="full-width Shide">
		<figure class="graphic graphic-b-1 graphic-pad-1" style="margin-left:0">
  		<img alt="Catalan elections: the composition of the outgoing parliament"
			src="catalonia-hemicycle--web-s.png" style="width:100%">
			</img>
		</figure>
	</div>
</div>

{# START MID AD SLOT
    You can move this wherever it works best in your page's design.
    For more control over the size, write your own o-ads div - see
    https://financial-times.github.io/o-ads/docs/developer-guide/display #}
{% if flags.ads %}{{ macros.middleAd() }}{% endif %}
{# END MID AD SLOT #}

## The voting system

<div class="image-set">
	<!-- Small+ image -->
	<div data-o-grid-colspan="hide Sfull-width" style="margin-right:1em; float:left; min-width: 50%; width:50%">
		<figure class="graphic graphic-b-1 graphic-pad-1" style="margin-left:0;margin-top: 6px;margin-right:40px">
  		<img alt="Map showing the location of Catalonia within Spain"
			src="G3417_17X-catalonia-map.png">
			</img>
		</figure>
	</div>
	<!-- xSmall image -->
	<div data-o-grid-colspan="full-width Shide">
		<figure class="graphic graphic-b-1 graphic-pad-1" style="margin-left:0">
  		<img alt="Map showing the location of Catalonia within Spain"
			src="G3417_17X-catalonia-map.png">
			</img>
		</figure>
	</div>
</div>

Catalonia is one of Spain’s 17 semi-autonomous communities, and has a large degree of powers over education, healthcare and welfare. It even has its own police force. With 7.5m people, it accounts for 16 per cent of Spain’s population and a fifth of the national economy.

The Catalan parliament is normally elected for four years. The system is simple: voters cast their ballots for a single party list, and seats are allocated to the winning parties proportionally in each of Catalonia’s four provinces. Parties must win more than 3 per cent of the vote in a province to gain seats.
Barcelona province, which is generally more pro-union, is allocated slightly fewer seats than its population should warrant - so the election puts unionists at a slight disadvantage. In 2015 the pro-independence forces Together for Yes and the CUP won 48 per cent of the popular vote but were allocated 53 per cent of deputies in the 135-member parliament.

The parliament elects the regional president, who appoints other ministers to form a regional government known as the Generalitat.  After the 2015 election, the pro-independence parties agreed on [Carles Puigdemont](https://www.ft.com/stream/0e154caf-2d86-37bd-a8db-db3cbbfe1221) as president in January 2016.

Mr Puigdemont is now in Belgium with four of his former ministers. [They face an international arrest warrant](https://www.ft.com/content/f988f74a-c230-11e7-b2bb-322b2cb39656) on charges of  rebellion, sedition, misuse of public funds and breach of trust for their role in organising the October 1 [referendum on Catalan independence](https://www.ft.com/content/f105dc20-21ed-3ce6-b29c-93f0092f0e30), which Madrid regarded as illegal. Other Catalan ministers have been detained in Spain and [face similar charges](https://www.ft.com/content/527b5aa8-c099-11e7-9836-b25f8adaa111).

Mr Puigdemont says he is [ready to stand again](https://www.ft.com/content/2819b2ad-c92e-3ed2-9a1f-1cdafd8f679e). With much of the pro-independence Catalan leadership either in prison or outside the country, it will be hard for them to campaign. But, presenting themselves as 'political prisoners', they could benefit from a wave of sympathy from voters.

<div class="image-set">
	<!-- Small+ image -->
	<div data-o-grid-colspan="hide Sfull-width" style="padding:0">
		<figure class="graphic graphic-b-1 graphic-pad-1" style="margin:0;margin-bottom:10px">
		  <img alt="FT Catalonia poll tracker" src="http://ft-ig-content-prod.s3-website-eu-west-1.amazonaws.com/v2/ft-interactive/catalonia-polltracker/master/catalonia-latest-bar-medium.svg"></img>
		</figure>
	</div>
	<!-- xSmall image -->
	<div data-o-grid-colspan="full-width Shide">
		<figure class="graphic graphic-b-1 graphic-pad-1" style="margin-left:0">
		  <img alt="FT Catalonia poll tracker" src="http://ft-ig-content-prod.s3-website-eu-west-1.amazonaws.com/v2/ft-interactive/catalonia-polltracker/master/catalonia-latest-bar-small.svg"></img>
		</figure>
	</div>
</div>

## The parties
### Pro-independence:

* Economically liberal <span class="party erc"><span class="icon"></span><strong>Republican Left of Catalonia (ERC)</strong></span> was founded in 1931. In 2015, it formed part of the Junts pel Sí (JxSi - Together for Yes) coalition, which gained 62 seats. It is now leading in the polls.

* Electoral coalition <span class="party pdecat"><span class="icon"></span><strong>Junts per Catalunya (JuntsXCat)</strong></span> was formed in November by Carles Puigdemont’s nationalist Catalan Democratic Party (PDeCAT) and the Democratic Convergence of Catalonia to contest the December 21 regional election.

* Anna Gabriel’s far-left <span class="party cup"><span class="icon"></span><strong>Popular Unity Candidacy (CUP)</strong></span> backs independence but otherwise has little in common with the larger groups. Unlike the other pro-independence parties, it seeks an independent Catalonia outside the EU and Nato, and wants to nationalise key industries. It won ten seats in 2015.

### Anti-independence:

The unionist parties are so ideologically incompatible it seems unlikely that they would be able to form an administration of their own.

* Liberal, pro-European <span class="party cs"><span class="icon"></span><strong>Ciudadanos (Citizens, Cs)</strong></span> is the main opposition party in Catalonia. It is led by Inés Arrimadas. It won 18 per cent of the vote and 25 seats in the 2015 election and is strongly opposed to Catalan nationalism.

* The <span class="party psc"><span class="icon"></span><strong>Socialists’ Party of Catalonia (PSC)</strong></span>is the Catalan branch of Spain’s main centre-left party, the [Spanish Socialist Workers’ Party](https://www.ft.com/topics/organisations/PSOE) (PSOE). It won 16 seats in 2015.

* The conservative <span class="party pp"><span class="icon"></span><strong>People's Party of Catalonia (PP)</strong></strong></span> is the Catalan affiliate of the [People's Party](https://www.ft.com/topics/organisations/Popular_Party). It won 11 seats in 2015.

### Non-aligned:

* <span class="party catcomu"><span class="icon"></span><strong>Catalunya en Comu (Catalonia in Common or CatComu)</strong></span> led by Barcelona mayor Ada Colau, is a coalition of left-wing parties including Podemos, the Greens, the United Alternative Left and has been in favour of an agreed referendum on independence. It is a successor to Catalonia Yes We Can (CSQP) coalition, which won 8.9 per cent of the vote and 11 seats in 2015. In December, it will run on a single ticket with Podem under the name En Comu Podem-Catalunya en Comu.

## Support for independence

The aggregate support for pro-independence parties has barely changed for 18 years: the 48 per cent suggested by current polls is more or less where it has been for the past six elections - though this may not capture shifts in party policy. For example PDeCat was in the past more moderately nationalist, seeking more autonomy within Spain; only in recent years has it become more overtly pro-independence.

<div class="image-set">
	<!-- Small+ image -->
	<div data-o-grid-colspan="hide Sfull-width" style="padding:0">
		<figure class="graphic graphic-b-1 graphic-pad-1" style="margin-left:0">
  		<img alt="In Catalonia, support for independence has not budged for 18 years"
			src="indep-m.png">
			</img>
		</figure>
	</div>
	<!-- xSmall image -->
	<div data-o-grid-colspan="full-width Shide">
		<figure class="graphic graphic-b-1 graphic-pad-1" style="margin-left:0">
  		<img alt="In Catalonia, support for independence has not budged for 18 years"
			src="indep-s.png" style="width:100%">
			</img>
		</figure>
	</div>
</div>

However, recent tensions between Madrid and Barcelona might have reignited independance sentiment to the levels not seen since the 1990s.

<div class="image-set">
	<!-- Small+ image -->
	<div data-o-grid-colspan="hide Sfull-width" style="padding:0">
		<figure class="graphic graphic-b-1 graphic-pad-1" style="margin-left:0">
  		<img alt="In Catalonia, support for independence shoot up after 2011"
			src="indep2_M.png" style="width:100%">
			</img>
		</figure>
	</div>
	<!-- xSmall image -->
	<div data-o-grid-colspan="full-width Shide">
		<figure class="graphic graphic-b-1 graphic-pad-1" style="margin-left:0">
  		<img alt="In Catalonia, support for independence shoot up after 2011"
			src="indep2_S.png">
			</img>
		</figure>
	</div>
</div>

## How reliable are these polls?

Pollsters advise caution when drawing conclusions from the polls. Few polls are available; the election was called suddenly, which makes polls more volatile; and the political polarisation and tension in the region makes responses to polls less reliable.

## Methodology

At each point in time, the FT poll-of-polls takes the average of all polls published within the last month. The average of their results is weighted to give more recent polls greater influence on the net score.


{% endmarkdown %}
{% endblock %}
