@import 'o-colors/main';
@import 'o-grid/main';
@import 'components/core/main';

/*
      TODO: delete this comment

      Write your code here - keep it neat!
      Split logical parts of you project into components e.g.

      /client
        - /components
            - /component-name
                - styles.scss
                - index.js
                - template.html
*/

.party {
	font-family:metric;
	font-weight:600	;
	font-size:20px;
	whitespace:nowrap;
	display:inline-block;
}

.party a {color:black;}

.party a:hover {color:#66605C;}

.icon { width: 8px;
	height:12px;
line-height:inherit;
position: relative;
display: inline-block;
margin-right:2px;}

.psc .icon {background: #ff667f;}

.cs .icon {background: #de7302;}

.erc .icon {background: #eebd1c;}

.pdecat .icon {background: #000d80;}

.cup .icon {background: #a6202b;}

.catcomu .icon {background: #9966cc;}

.pp .icon {background: #4dc4ff;}
